<div class="layui-fluid" lay-title="查询条件录入">
    <div class="layui-card">
      <div class="layui-card-body">
        <form class="layui-form" action="" lay-filter="form-group-cxtjinput">
          <div class="layui-form-item">
            <label class="layui-form-label">条件名称</label>
            <div class="layui-input-block">
              <input type="text" name="cxtjmc" class="layui-input" lay-verify="required" placeholder="请输入"
                autocomplete="off">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">条件列名</label>
            <div class="layui-input-block">
              <input type="text" name="cxtjcolumn" lay-verify="required" placeholder="请输入" autocomplete="off"
                class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">HTML</label>
            <div class="layui-input-block">
                <textarea name="cxtjhtml" placeholder="" class="layui-textarea" style="min-height:250px"></textarea>
              <!-- <input type="text" name="cxtjhtml" lay-verify="required" placeholder="请输入" autocomplete="off"
                class="layui-input"> -->
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-block">
              <input type="text" name="cxtjid" lay-verify="" autocomplete="off" class="layui-input" disabled>
            </div>
          </div>
         
          <button lay-submit lay-filter="save" style="display: none;"></button>
        </form>
      </div>
    </div>
  </div>
  <script>
    layui.use(['admin', 'form', 'jquery', 'table'], function (admin, form, $, table) {
  
      form.render();
      $('[name=cxtjmc]').focus();
      var cxtjid = POPUP_DATA.cxtjid;
      if (cxtjid != undefined && cxtjid != '') {
        admin.post({
          url: '/qxgl/getcxtjOne', data: { cxtjid: cxtjid }, success: function (res) {
            if (res.flag) {
              form.val('form-group-cxtjinput', res.data[0]);
            } else {
              layer.alert(res.msg);
            }
          }
        })
      }
      form.on('submit(save)', function (d) {
        admin.post({
          url: '/qxgl/savecxtj', data: { data: JSON.stringify(d.field) }, success: function (res) {
            if (res.flag) {
              layer.msg(res.msg);
              table.reload('list-table-cxtjset', { url: '/qxgl/getCxtjAll' });
              if (cxtjid == undefined || cxtjid == '') {
                $('[name=cxtjid]').val(res.datanum);
                var index = layer.confirm('保存成功!是否继续录入数据?', {
                  btn: ['是', '否'] //按钮
                }, function () {
                  $('[name=cxtjmc]').val('');
                  $('[name=cxtjid]').val('');
                  $('[name=cxtjmc]').focus();
                  layer.close(index);
                }, function () {
                  layer.closeAll();
                });
              }else{
                layer.closeAll();
              }
  
            } else {
              layer.alert(res.msg);
            }
  
          }
        });
        return false;
      });
      admin.util.event('lay-active-cxtjinput', {
        save: function () {
          $('[lay-filter="save"]').trigger('click');
        }
      });
  
    })
  </script>